         body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(135deg, #c850c0, #4158d0);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150vh;
            margin: 0;
        }
        #pageNumber {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
        }
        
        .page-row {
            display: flex;
        }
        
        .page-item {
            margin-right: 0px; /* Sesuaikan margin antar elemen page-item */
        }
        
        .page-link {
            text-decoration: none;
            color: #007bff; /* Sesuaikan warna link sesuai kebutuhan */
        }
        
        .page-item.active .page-link {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        .container {
            width: 60%;
            margin-top: 10px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 12px;
            color: #333;
        }
        th {
            background-color: #f2f2f2;
        }
        .pagination {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        