body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #c850c0, #4158d0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 30%;
    text-align: center;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.toggle, .back-button {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.toggle {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    background-color: #ccc;
    cursor: pointer;
}

.toggle:after {
    content: "Closed";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s;
}

.checkbox{
    display: none;
}

.checkbox:checked + .toggle {
    background-color: #4CAF50;
}

.checkbox:checked + .toggle:after {
    content: "Opened";
    opacity: 1;
}

.back-button {
    width: 150px;
    height: 50px;
    background-color: #3490dc;
    color: #fff;
    border-radius: 25px;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #2779bd;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

h2 {
    margin: 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    button, .back-button {
        width: 100%;
        height: 80px;
        border-radius: 10px;
        margin-top: 10px;
    }
}