.toggle {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100%; /* Membuat toggle menjadi bulat */
    background-color: #ccc; /* Warna latar belakang ketika switch tidak aktif */
    transition: background-color 0.3s;
    cursor: pointer; /* Tambahkan kursor pointer */
}

.toggle:after {
    content: "Off";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff; /* Warna teks */
    opacity: 1; /* Defaultnya disembunyikan */
    transition: opacity 0.3s;
}

.checkbox{
    display: none;
}

.checkbox:checked + .toggle {
    background-color: #4CAF50; /* Warna latar belakang ketika switch aktif */
}

.checkbox:checked + .toggle:after {
    content: "On";
    opacity: 1; /* Tampilkan teks saat switch aktif */
}

.tulis {
    font-size: 18px; /* Set the font size as needed */
    color: #000; /* Set the default text color */
    transition: color 0.3s; /* Add transition effect for color change */
}

.checkbox:checked + .toggle + .tulis::before {
    content: "Pintu Terbuka"; /* Set the text when the switch is active */
}

.tulis::before {
    content: "Pintu Terkunci"; /* Set the default text */
    display: block; /* Add this to make sure it's on a new line */
}

.checkbox:checked + .toggle:after + .tulis::before {
    content: "Pintu Tertutup"; /* Set the text when the switch is active */
}